<Settings>
  <HistoryLog>true</HistoryLog>
  <UserMaxLogs>10000</UserMaxLogs>
  <CompMaxLogs>10000</CompMaxLogs>
  <CustomSource>true</CustomSource>
  <CustomDataSource>NETMASTER,TSSD,TSSD2,TS-CALLA,TS-CALLB,TS-CALLC,TS-CALLD,TS-CALLE,TS-CENA,TS-CENB,TS-CEN2A,TS-CEN2B,TS-ERIA,TS-ERIB,TS-ERI2A,TS-ERI2B,TS-LIBA,TS-LIBB,TS-LIBC,TS-LIBD,TS-LIBE,TS-VLIBA,TS-VLIBB,TS-VLIBC,TS-VLIBD,TS-VLIBF,TS-RAP,TS-LIB11,TS-LIB12,TS-LIB13,TS-LIB14,TS-LIB15,TS-CEN11,TS-CEN12,TS-CEN13</CustomDataSource>
  <CheckLogsBeforeStartUp>false</CheckLogsBeforeStartUp>
  <AutoOpenPort>false</AutoOpenPort>
  <AutoUnlockFirewall>true</AutoUnlockFirewall>
  <SaveUserData>false</SaveUserData>
  <SessionDisconectShortcut>Control + G</SessionDisconectShortcut>
  <AutostartUpdateCheck>false</AutostartUpdateCheck>
  <LocalUpdateCheck>true</LocalUpdateCheck>
  <LocalUpdatePath>\\tssd\c$\Puzzel\Puzzel6\Update\</LocalUpdatePath>
  <TerminalLogsFolder>\\sccmsrv\aida\ts\</TerminalLogsFolder>
  <TerminalLogsFile>tseri_client_list.txt,tscall_client_list.txt,tscen_client_list.txt</TerminalLogsFile>
  <TerminalLogsSNFile>HP_Thin_Client_All.csv</TerminalLogsSNFile>
  <ComputerLogsFolder>\\poleczki1\ad$\logons\Debug\Serial\</ComputerLogsFolder>
  <ComputerSNFile>\\poleczki1\ad$\logons\Debug\serial_all.txt</ComputerSNFile>
  <MotpServers>npsmotp02,npsmotp01</MotpServers>
  <MotpLogName>ITRun Security Service</MotpLogName>
  <ComputerInput>true</ComputerInput>
  <EventLogTableView>true</EventLogTableView>
  <DomainController>dagda19</DomainController>
  <KeywordSearching>false</KeywordSearching>
</Settings>